:root {
    --search-area-margin: calc(0px - var(--main-padding));
    --search-area-margin-bottom: 10px;
    --search-area-height: calc(100vh - var(--computed-header-height));
    --search-area-background: #f0f0f0;
}

#search_area {
    margin: var(--search-area-margin);
    margin-bottom: var(--search-area-margin-bottom);
    height: var(--search-area-height);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--search-area-background);
}

#search_area h1 {
    border: none;
}

#search_area .search_form {
    font-size: x-large;
}

#search_area .search_form input {
    background: white;
}

#ranking_area .ranking_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0;
    padding: 0;
    flex: 1;
}

#ranking_area .ranking_slide {
    display: flex;
}

#ranking_area .ranking_slide button {
    flex: 0 0;
    padding:0;
    margin: 0;
    background: unset;
}