:root {
    --heading-color: inherit;
    --h1-border-bottom: 1px solid #00b22d;

    --default-button-background: #00b22d;
    --default-button-color: white;

    --header-height: 36px;
    --header-padding: 5px;
    --header-border-color: grey;
    --header-background: white;

    --footer-min-height: 90px;
    --footer-padding: 5px;
    --footer-border-color: #444;
    --footer-background: #444;
    --footer-color: white;

    --menu-width: 200px;
    --menu-padding: 5px;
    --menu-radius: 5px;
    --menu-border: grey;
    --menu-background: white;
    --menu-color: inherit;

    --main-padding: 10px;
    
    --ranking-item-width: 30%;
    --ranking-item-max-width: 30vh;
    --ranking-item-image-background: #efefef;
    --ranking-item-image-background-hover: #00b22d;
    --ranking-item-per-row: 3;
    --ranking-item-margin: 5px;

    --contribute-banner-background: #efefef;
    --contribute-banner-padding: 10px;
    --contribute-banner-margin: 10px 0;

    --youtube-area-background: #efefef;
    --youtube-area-padding: 10px;
    --youtube-area-margin-bottom: 10px;
    --youtube-area-div-padding: 10px;
    --youtube-area-div-width: 40%;
    --youtube-area-div-background: #efefef;

    --computed-header-height: calc(var(--header-height) + var(--menu-padding) + var(--header-padding) + 1px);
}

html, body {
    margin: 0;
    padding: 0;
    max-width: unset;
    font-family: 'Noto Sans KR', sans-serif;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--heading-color);
}

h1 {
    border-bottom: var(--h1-border-bottom);
}

header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--header-border-color);
    background-color: var(--header-background);
    padding: var(--header-padding) 0;
    z-index: 500;
}

header > #logo {
    margin: 0;
    line-height: var(--header-height);
    text-align: center;
    height: var(--header-height);
}

header > nav {
    margin: var(--header-padding) 0 var(--header-padding) var(--header-padding);
    line-height: var(--header-height);
    height: var(--header-height);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

header > nav > #menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(var(--computed-header-height) - var(--header-padding) - 1px);
    left: calc(0px - var(--header-padding));
    display: none;
    width: var(--menu-width);
    border-radius: var(--menu-radius);
    border: 1px solid var(--menu-border);
    background-color: var(--menu-background);
}

header > nav > #menu > li {
    padding: var(--menu-padding);
    border-bottom: 1px solid var(--menu-border);
}

header > nav > #menu > li a {
    color: var(--menu-color);
}

header > nav > #menu > li:last-child {
    border-bottom: none;
}

header > #search {
    margin: var(--header-padding) var(--header-padding) var(--header-padding) 0;
    line-height: var(--header-height);
    height: var(--header-height);
    text-align: right;
    font-size: small;
    position: absolute;
    top: 0;
    right: 0;
}

main {
    margin-top: var(--computed-header-height);
    padding: var(--main-padding);
}

footer {
    min-height: var(--footer-min-height);
    border-top: 1px solid var(--footer-border-color);
    background-color: var(--footer-background);
    color: var(--footer-color);
    padding: var(--footer-padding);
}

button.span {
    border: none;
    background: none;
    padding: 0;
    display: inline;
    font-size: inherit;
}

button.span.material-icons {
    font-size: 24px;
    margin-bottom: 0;
}

button.default {
    background: var(--default-button-background);
    color: var(--default-button-color);
}

input:not([type=checkbox]):not([type=radio]), select {
    display: inline-block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.material-icons.inline {
    font-size: 1em;
    vertical-align: bottom;
    line-height: 1.2;
}

.ranking_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0;
    padding: 0;
    flex: 1;
    flex-wrap: wrap;
}

.ranking_wrap > li {
    list-style-type: none;
    width: calc((100% / var(--ranking-item-per-row)) - (var(--ranking-item-margin) * 2));
    margin: var(--ranking-item-margin);
    display: flex;
    justify-content: center;
}

.ranking_wrap.firstOnTop > li.first {
    width: 100%;
}


.ranking_wrap li .ranking_item {
    width: 100%;
    max-width: var(--ranking-item-max-width);
}

.ranking_wrap li .ranking_item .ranking_image_wrap {
    width: 100%;
    padding-top: 100%;
    background: var(--ranking-item-image-background);
    border: none;
    border-radius: 100%;
    position: relative;
}

.ranking_wrap li .ranking_item .ranking_image_wrap:hover {
    background: var(--ranking-item-image-background-hover);
}

.ranking_wrap li .ranking_item .ranking_image_wrap .ranking_image {
    margin-top: -100%;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking_wrap li .ranking_item .ranking_image_wrap .ranking_image img {
    max-height: 100%;
}

.ranking_wrap li .ranking_item .ranking_description {
    text-align: center;
    width: 150%;
    margin: 0 -25%;
}

.ranking_wrap li .ranking_item a {
    word-break: keep-all;
    color: inherit;
}

.ranking_wrap li .ranking_item .ranking_description ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.search_form input {
    margin-right: 0;
    padding-bottom: 10px;
    border-radius: 6px 0 0 6px;
}

.search_form a {
    vertical-align: top;
}

.search_form button {
    padding: 10px;
    margin-left: 0;
    border-radius: 0 6px 6px 0;
}

.contribute_banner {
    padding: var(--contribute-banner-padding);
    margin: var(--contribute-banner-margin);
    background: var(--contribute-banner-background);
    text-align: center;
}

.contribute_banner h1 {
    border: none;
}

#youtube_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: var(--youtube-area-padding);
    background: var(--youtube-area-background);
    margin-bottom: var(--youtube-area-margin-bottom);
}

#youtube_area h1 {
    font-size: 1.6em;
}

#youtube_area > div {
    width: calc(var(--youtube-area-div-width) - (var(--youtube-area-div-padding) * 2));
    padding: var(--youtube-area-div-padding);
    background: var(--youtube-area-div-background);
}

#youtube_area .youtube_video iframe {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    :root {
        --youtube-area-div-width: 100%;
    }

    #youtube_area {
        display: flex;
        flex-direction: column-reverse;
    }
}